.grid-container {

	display: grid;
	grid-template-areas:
	'decToBin binToDec decToIEEE'
		'decToBin binToDec decToIEEE';
	position: fixed;
	width: 100%;
	min-width: 100%;
	height: 100vh;

}
#decToBin{
	grid-area: decToBin;
}
#binToDec{
	grid-area: binToDec;
}
#decToIEEE{
	grid-area: decToIEEE;
}
.numberButtons{
	border: solid;
}
.arithmeticButtons {
	width: 100px;
	height: 50px;
}
@media screen and (max-width: 600px) {
	#navigationSection a {
		font-size: 50px;
	}

	.numberButtons {
		width: 100px;
		height: 25px;
	}
}
h1 {
	font-size: 30px;
}
h1,h2,h3 {
	text-align: center;
}

body {
	background: linear-gradient(to bottom, #000428, #00c6ff);
	font-size: 20px;
}
	