
.grid-container {
    background: linear-gradient(to bottom, #000428, #00c6ff);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'h1 h1'
	'arithmetics roots'
    'arithmetics roots';
    min-height: 100vh;
    min-width: 100vh;

}

h1 {
    grid-area: h1;
    text-align: center;
}

#arithmetic {
    grid-area: arithmetics;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#root {
    grid-area: roots;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.numberButtons {
    border: solid;
}

.arithmeticButtons {
    width: 100px;
    margin: 5px;
    height: 35px;

}

@media screen and (max-width: 600px) {
    .grid-container {
        background: linear-gradient(to bottom, #000428, #00c6ff);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        'h1'
	    'arithmetics'
        'roots';
        min-height: 100svmin;
        min-width: 100svmin;
    }

    #arithmetic {
        grid-area: arithmetics;
    }

    #root {
        grid-area: roots;
    }

    .numberButtons {
        width: 100px;
        height: 20px;
    }

    .arithmeticButtons {
        width: 90px;
        height: 25px;
        border-radius: 7px;
    }
}

body, h1 {
    text-align: center;
}

body {
    /*background: linear-gradient(to bottom, #000428, #00c6ff);*/
    font-size: 25px;
    font-family: 'Consolas', monospace;
}
